.menu {

  float: right;
  cursor: pointer;
}

@media(min-width:700px) {

  .menu {
      display: none;
  }

}

.share {

  display: none;
}

@media(min-width:700px) {

  .share {
      display: flex;
      margin-left: 600px;
      margin-top: 50px;
      cursor: pointer;
  }

}

@media(min-width:900px) {
  .share {
  
      margin-left: 700px;     
  }
}

@media(min-width:1100px) {
  .share {
  
      margin-left: 800px;     
  }
}

@media(min-width:1280px) {
  .share {
  
      margin-left: 900px;     
  }
}

@media(min-width:1536px) {
  .share {
  
      margin-left: 1000px;     
  }
}

.wrapper {

  margin: 40px 6px;
}

@media(min-width:700px) {

  .wrapper {
      margin: 40px 120px;
  }

}

.profile {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#twitter {

  font-weight: 700;
  font-size: x-large;
}

#slack {

  display: none;
}

.btns {

  width: 100%;
  background-color: #EAECF0;
  padding: 20px 28px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 25px;
  cursor: pointer;

}

.icons {

  display: none;
  cursor: pointer;
}

@media(min-width:700px) {

  .icons {
      display: flex;
      align-items: center;
      justify-content: center;
  }

}

.slack {

  width: 40px;
  height: 20px;
}

.foot {

  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-bottom: 30px;
}

@media(min-width:700px) {

  .foot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 60px 110px;
  }

}

.zuri {

  font-weight: bold;
  font-size: large;
}

.HNG {

  color: gray;
  font-size: medium;
  margin: 15px 0px;
}

.foot-img {
  
  width: 100px;
  height: 30px;
}