.menu {

  float: right;
  cursor: pointer;
}

.share {

  display: none;
}

.wrapper {

  margin: 40px 6px;
}

.profile {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#twitter {

  font-weight: 700;
  font-size: x-large;
}

#slack {

  display: none;
}